@use '../abstracts/colors' as c;
@use '../abstracts/variables' as v;

.btn-s, .btn-m, .btn-l, .btn-round{
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  gap: 1em;
  line-height: 100%;
  border: none;
}

.btn-s{
  padding: 0.56em 1.25em;
  margin: 0;
  border-radius: 0.25em;
  font-size: 0.875rem;
  font-weight: 600;

}

.btn-m{
  padding: 0.68em 1.75em;
  margin: 0;
  border-radius: 0.375em;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
}

.btn-l{
  padding: 0.8em 2em;
  margin: 0;
  border-radius: 0.5em;
  font-size: 1rem;
  font-weight: 600;
  line-height: 100%;
}

.btn-primary{
  color: c.$clr-background;
  background-color: c.$primary;
  &:hover{
    background-color: c.$gradient-3;
  }
}

.btn-store{
  padding-block: .4rem;
  color: var(--clr-background);
  background-color: var(--clr-heading);
  height: 3.25rem;
  img{
    height: 100%;
    object-fit: contain;
  }
  &-text{
    small{
      display:block;
    }
    small:nth-child(1){
      font-weight:600;
      font-size: .6rem;
    }
    small:nth-child(2){
      font-weight:600;
      font-size: 1.3rem;
    }
  }
}

.btn-round{
  width: 2.6rem;
  height: 2.6rem;
  background-color: var(--clr-base);
  border-radius: 1.3rem;
  transform: rotate(90deg);
  
  &:hover{
    background-color: c.$primary;
    color: c.$clr-base
  }
}
