.contact-adress {
  margin: 4rem auto;
}

.adress-wrapper {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.adress-map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.adress-box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.adress-box {
  font-size: 0.9rem;
  i {
    color: var(--clr-primary);
  }

  h4 {
    margin-bottom: 1.5rem;
  }

  p {
    margin-bottom: 0.3rem;
  }
}

.adress-line {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  margin: 0;
}

.open-hours {
  display: flex;
  gap: 0.4rem;

  strong {
    font-weight: 700;
  }

  p {
    margin: 0;
  }
}

.social-media {
  display: flex;
  gap: 1rem;
}

.social-media {
  a {
    color: var(--clr-heading);
    text-decoration: none;
  }
  a:hover {
    color: var(--clr-primary);
  }
}

.social-media-box {
  display: grid;
  place-items: center;
  height: 4rem;
  aspect-ratio: 1;
  background-color: var(--clr-background);
  border-radius: 0.4rem;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .contact-adress {
    max-width: 720px;
  }

  .adress-wrapper {
    padding-inline: 0;
    flex-direction: row;
  }

  .adress-box-wrapper {
    gap: 1.5rem;
  }

  .adress-box {
    h4 {
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 0.1rem;
    }
  }

  .adress-map {
    width: 50%;
    border-radius: 1rem;
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  .contact-adress {
    max-width: 1140px;
    margin-top: 11rem;
  }

  .adress-wrapper {
    gap: 2rem;
  }

  .adress-box-wrapper {
    gap: 3rem;
  }

  .adress-box {
    h4 {
      margin-bottom: 1.5rem;
    }

    p {
      margin-bottom: 0.3rem;
    }
  }

  .adress-map {
    width: unset;
  }
}
