@use '../abstracts/' as a;
@use 'sass:map';
@use 'sass:color';

body {
  position: relative;
}

header {
  @include a.margin-auto;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background-color: var(--clr-background) / 0.3;
  position: sticky;
  top: 0;
  z-index: 10000;
  backdrop-filter: blur(8px);
}

.logo {
  @include a.display(flex, left, center, 0.5rem);
}

.features {
  display: none;
  margin-left: 2rem;
}

.contact {
  display: block;
  margin-left: 1rem;
}

nav {
  grid-column: -1;
  @include a.display(flex, right, center, 2rem);
}

label[for='dark-toggle'] {
  font-weight: map.get(a.$Font-weight, bold);
  display: none;
}

.btn-s {
  display: none;
}

.mobile-nav {
  width: 15rem;
  position: absolute;
  top: 4.5rem;
  padding: 1rem;
  margin-right: 0.6rem;
  background-color: hsl(from var(--clr-background) h s l / 80%);
  border: 1px solid var(--clr-placeholder);
  border-radius: 1rem;
  #login {
    display: flex;
    box-shadow: a.$shadow-primary-btn;
  }
  input {
    font-size: 1rem;
    outline: 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--clr-placeholder);
    box-shadow: a.$shadow-s;
  }

  input:focus {
    box-shadow: 0 0 12px a.$primary;
  }

  .input-error,
  .input-error:focus {
    box-shadow: 0 0 12px a.$sys-error;
  }
}

.flex {
  display: flex;
}

.mobile-nav-button {
  cursor: pointer;
  padding: 0rem;
  fill: var(--clr-body-text);
  background-color: transparent;
  border: none;
  display: grid;
  place-content: center;
}
.mobile-nav-button[aria-expanded='false'] .line {
  transition:
    y 200ms ease-in 200ms,
    opacity 0ms 200ms,
    rotate 200ms ease-in;
  transform-origin: center;
}

.mobile-nav-button[aria-expanded='true'] .line {
  transition:
    y 200ms ease-in,
    opacity 0ms 200ms,
    rotate 200ms ease-in 200ms;
  transform-origin: center;
}

.mobile-nav-button[aria-expanded='true'] :is(.top-bar, .bottom-bar) {
  y: 45;
}
.mobile-nav-button[aria-expanded='true'] .top-bar {
  rotate: 45deg;
}
.mobile-nav-button[aria-expanded='true'] .middle-bar {
  opacity: 0;
}
.mobile-nav-button[aria-expanded='true'] .bottom-bar {
  rotate: -45deg;
}

.form-signin {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  h5 {
    margin-bottom: 0.6rem;
  }

  .error {
    color: a.$sys-error;
    font-size: 0.8rem;
    font-weight: bolder;
    margin-top: 0.2rem;
  }
}

@media (width > 768px) {
  header {
    max-width: 720px;
  }
  label[for='dark-toggle'] {
    display: inline;
  }
}

@media (width > 1200px) {
  header {
    max-width: 1140px;
  }
  .mobile-nav-button {
    display: none;
  }
  .features {
    display: block;
  }
  .btn-s {
    display: block;
  }
  label[for='dark-toggle'] {
    display: inline;
  }
}
