// Utility Classes

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a {
  color: var(--clr-body-text);
  text-decoration: none;
}

a:visited {
  color: var(--clr-body-text);
}

a:hover {
  text-decoration: underline;
  color: var(--clr-primary);
}

.active[aria-current='page'] {
  color: var(--clr-primary);
}
