// Grayscale
$white: hsl(0, 0%, 100%);
$gray-100: hsl(225, 100%, 98%);
$gray-200: hsl(226, 68%, 96%);
$gray-300: hsl(228, 35%, 92%);
$gray-400: hsl(229, 25%, 86%);
$gray-500: hsl(231, 16%, 75%);
$gray-600: hsl(231, 14%, 63%);
$gray-700: hsl(234, 14%, 39%);
$gray-800: hsl(235, 20%, 25%);
$gray-900: hsl(223, 39%, 7%);
$black: hsl(223, 39%, 3%);

// Base colors
$clr-header: hsla(225, 100%, 98%, 0.3);
$clr-base: $white;
$clr-background: $gray-100;
$clr-secondary: $gray-200;
$clr-divider: $gray-300;
$clr-border: $gray-400;
$clr-placeholder: $gray-500;
$clr-muted: $gray-600;
$clr-body-text: $gray-700;
$clr-navigation: $gray-800;
$clr-heading: $gray-900;

// Brand
$primary: hsl(239, 84%, 67%);
$gradient-1: $primary;
$gradient-2: hsl(258, 90%, 66%);
$gradient-3: hsl(292, 84%, 61%);

// System
$sys-error: #ef4444;
$sys-success: #22c55e;
$sys-warning: #ffba08;
$sys-info: #4c82f7;

:root {
  --clr-header: #{$clr-header};
  --clr-base: #{$clr-base};
  --clr-background: #{$clr-background};
  --clr-primary: #{$primary};
  --clr-secondary: #{$clr-secondary};
  --clr-divider: #{$clr-divider};
  --clr-border: #{$clr-border};
  --clr-placeholder: #{$clr-placeholder};
  --clr-muted: #{$clr-muted};
  --clr-body-text: #{$clr-body-text};
  --clr-navigation: #{$clr-navigation};
  --clr-heading: #{$clr-heading};
}
